-- ============================================================================
-- IMPORT QURAN VERSES AND HADITHS
-- ============================================================================
-- This migration creates tables and imports data from CSV files

-- ============================================================================
-- 1. CREATE QURAN_VERSES TABLE
-- ============================================================================

CREATE TABLE IF NOT EXISTS public.quran_verses (
  id UUID PRIMARY KEY,
  arabic TEXT NOT NULL,
  translation TEXT NOT NULL,
  reference TEXT NOT NULL,
  surah_number INTEGER,
  verse_number INTEGER,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_quran_verses_reference ON public.quran_verses(reference);
CREATE INDEX IF NOT EXISTS idx_quran_verses_surah_verse ON public.quran_verses(surah_number, verse_number);

-- ============================================================================
-- 2. CREATE HADITHS TABLE
-- ============================================================================

CREATE TABLE IF NOT EXISTS public.hadiths (
  id UUID PRIMARY KEY,
  arabic TEXT,
  translation TEXT NOT NULL,
  reference TEXT NOT NULL,
  collection TEXT,
  book_number TEXT,
  hadith_number TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_hadiths_reference ON public.hadiths(reference);
CREATE INDEX IF NOT EXISTS idx_hadiths_collection ON public.hadiths(collection);

-- ============================================================================
-- 3. ENABLE RLS AND CREATE POLICIES
-- ============================================================================

ALTER TABLE public.quran_verses ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.hadiths ENABLE ROW LEVEL SECURITY;

-- Public read access for quran_verses
DROP POLICY IF EXISTS "Public can view quran verses" ON public.quran_verses;
CREATE POLICY "Public can view quran verses" ON public.quran_verses
  FOR SELECT
  USING (true);

-- Public read access for hadiths
DROP POLICY IF EXISTS "Public can view hadiths" ON public.hadiths;
CREATE POLICY "Public can view hadiths" ON public.hadiths
  FOR SELECT
  USING (true);

-- ============================================================================
-- 4. IMPORT QURAN VERSES
-- ============================================================================
INSERT INTO public.quran_verses (id, arabic, translation, reference, surah_number, verse_number, created_at)
VALUES ('00cb754d-bf8a-4bd1-87d8-c126b8991192', '┘ê┘Ä┘ä┘Ä╪º ╪¬┘Ä┘â┘Å┘ê┘å┘Å┘ê╪º ┘â┘Ä╪º┘ä┘Ä┘æ╪░┘É┘è┘å┘Ä ┘å┘Ä╪│┘Å┘ê╪º ╪º┘ä┘ä┘Ä┘æ┘ç┘Ä ┘ü┘Ä╪ú┘Ä┘å╪│┘Ä╪º┘ç┘Å┘à┘Æ ╪ú┘Ä┘å┘ü┘Å╪│┘Ä┘ç┘Å┘à┘Æ', 'And be not like those who forgot Allah, so He made them forget themselves.', 'Quran 59:19', 59, 19, '2025-11-30 05:19:08.718746+00'::timestamptz)
ON CONFLICT (id) DO NOTHING;
INSERT INTO public.quran_verses (id, arabic, translation, reference, surah_number, verse_number, created_at)
VALUES ('032fcf62-4119-4544-85a8-789e0a763bdd', '╪▒┘Ä╪¿┘Ä┘æ┘å┘Ä╪º ╪Ñ┘É┘å┘Ä┘æ┘â┘Ä ┘à┘Ä┘å ╪¬┘Å╪»┘Æ╪«┘É┘ä┘É ╪º┘ä┘å┘Ä┘æ╪º╪▒┘Ä ┘ü┘Ä┘é┘Ä╪»┘Æ ╪ú┘Ä╪«┘Æ╪▓┘Ä┘è┘Æ╪¬┘Ä┘ç┘Å', 'Our Lord, indeed whoever You admit to the Fire - You have disgraced him.', 'Quran 3:192', 3, 192, '2025-11-30 05:19:57.606943+00'::timestamptz)
ON CONFLICT (id) DO NOTHING;
INSERT INTO public.quran_verses (id, arabic, translation, reference, surah_number, verse_number, created_at)
VALUES ('08eab79e-26f8-4c29-bea0-bf1cdff1142c', '┘ü┘Ä╪º╪░┘Æ┘â┘Å╪▒┘Å┘ê┘å┘É┘è ╪ú┘Ä╪░┘Æ┘â┘Å╪▒┘Æ┘â┘Å┘à┘Æ', 'So remember Me; I will remember you.', 'Quran 2:152', 2, 152, '2025-11-30 05:19:08.718746+00'::timestamptz)
ON CONFLICT (id) DO NOTHING;

-- Imported 102 verses

-- ============================================================================
-- 5. IMPORT HADITHS
-- ============================================================================
INSERT INTO public.hadiths (id, arabic, translation, reference, collection, book_number, hadith_number, created_at)
VALUES ('075c9e6b-66c0-4d09-af56-89208132705d', '┘ä╪º┘Ä ╪¬┘Ä╪¡┘Æ┘é┘É╪▒┘Ä┘å┘Ä┘æ ┘à┘É┘å┘Ä ╪º┘ä┘Æ┘à┘Ä╪╣┘Æ╪▒┘Å┘ê┘ü┘É ╪┤┘Ä┘è┘Æ╪ª┘ï╪º', 'Do not belittle any good deed.', 'Sahih Muslim 2626', 'Sahih Muslim', NULL, '2626', '2025-11-30 05:21:54.659576+00'::timestamptz)
ON CONFLICT (id) DO NOTHING;
INSERT INTO public.hadiths (id, arabic, translation, reference, collection, book_number, hadith_number, created_at)
VALUES ('0773a12f-f946-4e4b-81b2-6e9bd362ca5e', '┘ê┘Ä╪º╪¿┘Æ╪»┘Ä╪ú┘Æ ╪¿┘É┘à┘Ä┘å┘Æ ╪¬┘Ä╪╣┘Å┘ê┘ä┘Å', 'And start with those you are responsible for.', 'Sahih Bukhari 1426', 'Sahih Bukhari', NULL, '1426', '2025-11-30 05:21:54.659576+00'::timestamptz)
ON CONFLICT (id) DO NOTHING;
INSERT INTO public.hadiths (id, arabic, translation, reference, collection, book_number, hadith_number, created_at)
VALUES ('07a51761-d5b1-4622-bbfa-fbbf57937500', '┘ê┘Ä┘à┘Ä╪º ╪▓┘Ä╪º╪»┘Ä ╪º┘ä┘ä┘Ä┘æ┘ç┘Å ╪╣┘Ä╪¿┘Æ╪»┘ï╪º ╪¿┘É╪╣┘Ä┘ü┘Æ┘ê┘ì ╪Ñ┘É┘ä╪º┘Ä┘æ ╪╣┘É╪▓┘ï┘æ╪º', 'And Allah does not increase a servant in forgiveness except in honor.', 'Jami at-Tirmidhi 2029', 'Jami at-Tirmidhi', NULL, '2029', '2025-11-30 05:21:54.659576+00'::timestamptz)
ON CONFLICT (id) DO NOTHING;

-- Imported 100 hadiths

-- ============================================================================
-- 6. VERIFICATION
-- ============================================================================

-- Verify counts
SELECT 'quran_verses' as table_name, COUNT(*) as row_count FROM public.quran_verses;
SELECT 'hadiths' as table_name, COUNT(*) as row_count FROM public.hadiths;

